<div class="row p-0 m-0">

  <div class="col-12 px-4 py-2">
    <h1 class="text-center">DECK - Jogando um RPG bostal</h1>
  </div>

  <div class="col-12 row p-0 m-0 bg-black text-white rounded-4 mb-4">

    <div class="col-11 p-4 d-flex flex-wrap gap-3 justify-content-evenly">
      <ng-container *ngFor="let music of catalog">
        <app-track
          [reset]="cleared"
          [title]="music.title"
          [stop]="playersToggle"
          [source]="music.source"
          (playChange)="playToggle()"
          [description]="music.description"
          (audioChange)="audioToggle($event)"
        ></app-track>
      </ng-container>
    </div>

    <div class="col-1 py-4">
      <app-volume [audio]="audioCurrent" (clearAll)="clear()"></app-volume>
    </div>

  </div>


</div>
