<aside class="p-4">

  <section class="border rounded-4 p-4 bg-white shadow">
    
    <div class="row p-0 m-0 pb-4">

      <div class="col-8 d-flex flex-column justify-content-start">

        <h4 class="text-start">Recommended for you</h4>
        <small class="text-start text-muted">8k social visitors</small>

      </div>

       <div class="col-4 d-flex align-items-center justify-content-end">

        <button class="btn btn-light text-muted">All Courses</button>
        
       </div>

    </div>

    <div class="row p-0 m-0 text-start">

      <ul class="list-group list-group-flush">
        
        <li class="list-group-item d-flex justify-content-between align-items-center gap-3 pb-3">

          <div class="">
            <div class="p-1 d-flex justify-content-center align-items-center rounded" style="background-color: #f1416c; aspect-ratio: 1/1; width: 48px;">
              <span class="letter-icon text-white h2">M</span>
            </div>
          </div>

          <div class="flex-fill">
            <h5 class="p-0 m-0"><a href="/">UI/UX Design</a></h5>
            <small class="text-muted fs-6">40+ Courses</small>
          </div>

          <div class="">
              <button class="btn btn-light text-muted fs-3 py-0 px-2">
                <i class="bi bi-arrow-right-short"></i>
              </button>
          </div>

        </li>


        <li class="list-group-item d-flex justify-content-between align-items-center gap-3 pb-3">

            <div class="p-1 d-flex justify-content-center align-items-center rounded" style="background-color: #50cd89; aspect-ratio: 1/1; width: 48px;">
              <span class="letter-icon text-white h2">Q</span>
            </div>

          <div class="flex-fill">
            <h5 class="p-0 m-0"><a href="/">QA Analysis</a></h5>
            <small class="text-muted fs-6">18 Courses</small>
          </div>

          <div class="">
              <button class="btn btn-light text-muted fs-3 py-0 px-2">
                <i class="bi bi-arrow-right-short"></i>
              </button>
          </div>

        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center gap-3 pb-3">

          <div class="p-1 d-flex justify-content-center align-items-center rounded" style="background-color: #7239ea; aspect-ratio: 1/1; width: 48px;">
            <span class="letter-icon text-white h2">W</span>
          </div>

        <div class="flex-fill">
          <h5 class="p-0 m-0"><a href="/">Web Development</a></h5>
          <small class="text-muted fs-6">120+ Courses</small>
        </div>

        <div class="">
            <button class="btn btn-light text-muted fs-3 py-0 px-2">
              <i class="bi bi-arrow-right-short"></i>
            </button>
        </div>

      </li>


        <li class="list-group-item d-flex justify-content-between align-items-center gap-3 pb-3">

          <div class="p-1 d-flex justify-content-center align-items-center rounded" style="background-color: #3e97ff; aspect-ratio: 1/1; width: 48px;">
            <span class="letter-icon text-white h2">M</span>
          </div>

        <div class="flex-fill">
          <h5 class="p-0 m-0"><a href="/">Marketing</a></h5>
          <small class="text-muted fs-6">50+ Courses</small>
        </div>

        <div class="">
            <button class="btn btn-light text-muted fs-3 py-0 px-2">
              <i class="bi bi-arrow-right-short"></i>
            </button>
        </div>

      </li>

        
      <li class="list-group-item d-flex justify-content-between align-items-center gap-3 pb-3">

          <div class="p-1 d-flex justify-content-center align-items-center rounded" style="background-color: #f6c000; aspect-ratio: 1/1; width: 48px;">
            <span class="letter-icon text-white h2">P</span>
          </div>

        <div class="flex-fill">
          <h5 class="p-0 m-0"><a href="/">Philosophy</a></h5>
          <small class="text-muted fs-6">24+ Courses</small>
        </div>

        <div class="">
            <button class="btn btn-light text-muted fs-3 py-0 px-2">
              <i class="bi bi-arrow-right-short"></i>
            </button>
        </div>

      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center gap-3 pb-3">

        <div class="p-1 d-flex justify-content-center align-items-center rounded" style="background-color: #071437; aspect-ratio: 1/1; width: 48px;">
          <span class="letter-icon text-white h2">M</span>
        </div>

      <div class="flex-fill">
        <h5 class="p-0 m-0"><a href="/">Mathematics</a></h5>
        <small class="text-muted fs-6">24+ Courses</small>
      </div>

      <div class="">
          <button class="btn btn-light text-muted fs-3 py-0 px-2">
            <i class="bi bi-arrow-right-short"></i>
          </button>
      </div>

      </li>

      </ul>
      
    </div>

  </section>


</aside>