
// @font-face {
//     font-family: 'Neon Glow';
//     src: url(https://assets.codepen.io/230569/NeonGlow-8VLz.ttf);
//   }


.tile {
  width: 208px;
  height: 208px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #F00;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(24px);
  color: #B7E7F7 !important;
  filter: saturate(200%);
  transition: all 0.3s ease-in-out;

  > * {
    margin: 0;
    padding: 0;
  }

  .number {
    font-weight: 700;
  }

  .symbol {
    font-size: 4rem;
    // font-family: 'Neon Glow';
    text-shadow: 0 0 var(--blur) var(--glow);
  }

}

.neon {

  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: currentColor;
  --size: 12rem;

  border: 4px solid currentColor;
  box-shadow:
    inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    0 0 0 2px rgba(0, 0, 0, 0.15),
    inset 0 0 var(--box-blur) var(--glow),
    0 0 var(--box-blur) var(--glow);
}

.volume-container {
  border: solid 1px rgba(255,255,255, 0.3);
  width: 8px;
  height: calc(100% - 8px);
  margin: 4px -4px 4px 0;
  border-radius: 4px;
  overflow: hidden;
  transform: rotate(180deg);
}

.volume-bar {
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.played {
  animation-name: play-runned;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.paused {
  animation-name: pause-runned;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  outline: solid 2px #F00;
  opacity: 0.8;
}

@keyframes play-runned {
  0%   { filter: brightness(100); }
  50%  {filter: brightness(50); }
}

@keyframes pause-runned {
  0%   { opacity: 0.8; outline: 2px; }
  50%  { opacity: 0.7; outline: 8px; }
}
