
<button class="tile neon" (click)="play()" [ngClass]="{'played': played}">

  <div class="d-flex flex-column flex-fill justify-content-between align-items-lg-stretch h-100 px-1">

    <div class="tap-hold">

      <a class="form-check form-switch" (click)="$event.stopPropagation()">
        <input #switchHold class="form-check-input" type="checkbox" id="hold" [checked]="holded" (change)="changeHold(switchHold.checked)">
      </a>

    </div>

    <a class="mt-3 pt-2 text-decoration-none" (click)="$event.stopPropagation();">
      <a class="text-decoration-none" (click)="openMusicList()">
        <i class="bi bi-cassette me-1" [ngbTooltip]="title"></i>
      </a>
      <span>
        {{title | slice:0:36}}
      </span>
    </a>

    <div class="">
      <ng-container *ngIf="paused">
        <span>{{description}}</span>
      </ng-container>

      <ng-container *ngIf="played">
        <span>{{labelTimecode(regress)}}</span>
      </ng-container>
    </div>


    <div class="mb-3">
      <span class="align-content-end fs-8">{{labelTimecode(timecode)}} / {{labelTimecode(timecodeTotal)}}</span>
      <a (click)="$event.stopPropagation(); changeReapeat()">
        <span class="ms-2">
          <i class="bi bi-repeat" [ngClass]="{ 'track-active': repeated }"></i>
        </span>
      </a>
    </div>

  </div>

  <div class="h-100 m-0 p-0 me-1 d-flex flex-column">

    <div class="volume-container mx-auto">
      <div class="volume-bar" [ngStyle]="{ 'height.%': volume }"></div>
    </div>

    <a class="hint-hover d-flex justify-content-center" (click)="$event.stopPropagation();">

      <i class="bi bi-gear fs-8"></i>

      <div class="hint-container">

        <div class="hint-body rounded p-2">
          <input #rgm
            min="0"
            max="100"
            type="range"
            step="0.000001"
            id="range-music"
            class="form-range"
            [value]="positionPercent"
            (input)="changeRangeMusic(rgm.value)"
            (change)="changeRangeWhenDrop()"
          >
        </div>

      </div>

    </a>
  </div>

</button>
