
<button class="tile neon" (click)="play()" [ngClass]="{ 'played': played}">

  <div class="d-flex flex-column flex-fill justify-content-around align-items-center h-100 p-1">

    <div class="tap-hold">

      <a class="form-check form-switch" (click)="$event.stopPropagation()">
        <input #switchHold class="form-check-input" type="checkbox" id="hold" (change)="changeHold(switchHold.checked)">
      </a>

    </div>

    <span>{{title}}</span>

    <ng-container *ngIf="paused">
      <span>{{description}}</span>
    </ng-container>

    <ng-container *ngIf="played">
      <span>{{labelTimecode(regress)}}</span>
    </ng-container>

    {{parseInt(positionPercent)}}%

    <div>
      <span class="align-content-end fs-8">{{labelTimecode(timecode)}} / {{labelTimecode(timecodeTotal)}}</span>
      <a (click)="$event.stopPropagation(); changeReapeat()">
        <span class="ms-2">
          <i class="bi bi-repeat" [ngClass]="{ 'track-active': repeated }"></i>
        </span>
      </a>
    </div>

  </div>

  <div class="h-100 m-0 p-0 me-1">
    <div class="volume-container">
      <div class="volume-bar" [ngStyle]="{ 'height.%': volume }"></div>
    </div>
    <a class="hint-hover d-flex justify-content-center" (click)="$event.stopPropagation();">
      <i class="bi bi-gear fs-8"></i>

      <div class="hint-container">

        <div class="hint-body rounded p-2">
          <input #rgm
            min="0"
            max="100"
            type="range"
            step="0.000001"
            id="range-music"
            class="form-range"
            [value]="positionPercent"
            (input)="changeRangeMusic(rgm.value)"
          >
        </div>

      </div>

    </a>
  </div>

</button>
