
// @font-face {
//     font-family: 'Neon Glow';
//     src: url(https://assets.codepen.io/230569/NeonGlow-8VLz.ttf);
//   }


.tile {
  width: 208px;
  height: 208px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #F00;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(24px);
  color: #B7E7F7 !important;
  filter: saturate(200%);
  transition: all 0.3s ease-in-out;

  > * {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
  }

  .number {
    font-weight: 700;
  }

  .symbol {
    font-size: 4rem;
    text-shadow: 0 0 var(--blur) var(--glow);
  }

}

.neon {

  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: currentColor;
  --size: 12rem;

  border: 4px solid currentColor;
  box-shadow:
    inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    0 0 0 2px rgba(0, 0, 0, 0.15),
    inset 0 0 var(--box-blur) var(--glow),
    0 0 var(--box-blur) var(--glow);
}

.volume-container {
  border: solid 1px rgba(255,255,255, 0.3);
  width: 8px;
  height: calc(100% - 36px);
  margin: 4px 0px;
  border-radius: 4px;
  overflow: hidden;
  transform: rotate(180deg);
}

.volume-bar {
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.played:not(a *) {
  animation-name: play-runned;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.paused {
  animation-name: pause-runned;
  animation-duration: 2.0s;
  animation-iteration-count: infinite;
  outline: solid 2px #F00;
  opacity: 0.8;
}

.tap-hold {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 0 0 6px;

  * {
    background-color: transparent !important;
  }
  .form-check {
    .form-check-input {
      max-height: 12px;
      max-width: 22px;
    }
  }
}

.hint-hover .hint-container {
  visibility: hidden;
}

.hint-hover:hover .hint-container {
  visibility: visible;
}

.hint-container {
  z-index: 10000 !important;
  width: 100%;
}

.hint-body {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(6px);
  color: rgba(0,0,0,1);
  width: calc(100% - 12px);
  padding: 0 !important;
  margin: 0 !important;
  height: 36px;

  input {
    padding: 0 8px;
    margin: 0;
    height: 0px;
   }

}

.track-active {
  color: rgba(0, 200, 0, 0.9);
}


@keyframes play-runned {
  0%   { background-color: rgba(255,255,255, 0.2);}
  50%  { background-color: rgba(255,255,255, 0.05); }
}

@keyframes pause-runned {
  0%   { opacity: 0.8; outline: 2px; }
  50%  { opacity: 0.7; outline: 8px; }
}
