.knob-boundary {
  width: 48px;
  height: 540px;
  position: relative;
  background: linear-gradient(to top, #00f, #0ff, #f0f);
  box-shadow: 0 0 4px #00f, 0 0 8px #0ff, 0 0 16px #f0f;
  border-radius: 38px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knob-box {
  --size-knob: 102px;

  // top: calc(100% - var(--size-knob)); // coloca o knob no fim da div
  top: 0px; // coloca o knob no fim da div
  transform: translate3d(0px, 0px, 0px);
  width: 100%;
  height: var(--size-knob);
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 38px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.knob-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
