<div class="m-0 p-0 d-block border border-{{alertColor}}">
  <div class="m-0 p-0 modal-dialog border-0">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-between">

        <ng-container *ngIf="isFillTitle" >
          <h5 class="modal-title d-flex flex-fill justify-content-{{positionDialog}}">

            <ng-container *ngIf="hasIcon">
              <span class="me-2 text-{{alertColor}}">
                <i class="bi" [ngClass]="iconTitle"></i>
              </span>
            </ng-container>

            <span [innerHTML]="title" class="" >...</span>

          </h5>
        </ng-container>

        <button type="button" class="btn-close ms-auto"></button>

      </div>

      <div class="modal-body">
        <ng-container *ngIf="isFillMessage">
          <p [innerHTML]="message">...</p>
        </ng-container>
      </div>

      <div class="modal-footer gap-2">

        <ng-container *ngIf="isFillCancelLabel">
          <button type="button" class="btn btn-secondary">{{ cancelLabel }}</button>
        </ng-container>

        <ng-container *ngIf="isFillConfirmLabel">
          <button type="button" class="btn btn-primary">{{ confirmLabel }}</button>
        </ng-container>

      </div>
    </div>
  </div>
</div>

