<div class="m-0 p-0 d-block border-0">
  <div class="m-0 p-0 modal-dialog border-5">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-between">

          <h5 class="modal-title d-flex flex-fill justify-content-{{positionDialog}}">

            <ng-container *ngIf="hasIcon">
              <span class="me-2 text-{{alertColor}}">
                <i class="bi" [ngClass]="iconTitle"></i>
              </span>
            </ng-container>

            <ng-container *ngIf="isFillTitle">
              <span [innerHTML]="title" class="">...</span>
            </ng-container>

          </h5>

        <button type="button" class="btn-close ms-auto" (click)="dismiss()"></button>
      </div>

      <div class="modal-body">
        <ng-container *ngIf="isFillMessage">
          <span [innerHTML]="message"></span>
        </ng-container>
      </div>

      <div class="modal-footer gap-2">

        <ng-container *ngIf="isFillCancelLabel">
          <button type="button" class="btn btn-secondary" (click)="cancel()">{{ cancelLabel }}</button>
        </ng-container>

        <ng-container *ngIf="isFillConfirmLabel">
          <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="(isLoading$ | async)">

            <ng-container *ngIf="!(isLoading$ | async)">
              <span>{{ confirmLabel }}</span>
            </ng-container>

            <ng-container *ngIf="(isLoading$ | async)">
              <span class="spinner-border spinner-border-sm me-2" role="status">
                <span class="visually-hidden"></span>
              </span>
              <span>{{waintingLabel}}</span>
            </ng-container>

          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
